
<h1>ユーザー設定</h1>
<%= form_for(current_user) do |f| %>

<p>メールアドレス</p>
<%= f.text_field :email, class: "email" %>

<p>電話番号</p>
<%= f.text_field :phone_number, class: "phone_number" %>


<p><%= f.submit '保存', class: "btn btn-info" %></p>

<p><%= link_to "戻る", profile_edit_path(current_user) %></p>

<div>
<p>退会する方はこちら</p>
<p><%= link_to "退会", user_registration_path, method: :delete, "data-confirm" => "ユーザー情報、すべての投稿が削除されます。退会しますか?", class: "btn btn-danger" %></p>
</div>

<% end %>

