

<div class="float-right">
	<%= form_tag users_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
	<% end %>

</div>

<table class='table table-hover table-inverse'>
	<thead>
		<tr>
			<th>タイトル</th>
			<th>ユーザー</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td>
				<% if user.profile_image_id? %>
				<%= image_tag user.profile_image_id.url(:thumb100), class: "rounded-circle" %>
				<% else %>
				<%= image_tag '/images/no_image.jpg', class: "rounded-circle" %>
				<% end %>
			</td>
			<td><%= link_to user.name, user_path(user.id) %></td>
			<td>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
