
<div class="pf">
	<% if @user.profile_image_id? %>
	<%= image_tag @user.profile_image_id.url(:thumb), class: "rounded-circle" %>
	<% else %>
	<%= image_tag '/images/no_image.jpg' %>
	<% end %>
</div>
<div class="pf2">
	<h3><%= @user.name %></h3>
	<p><%= @user.introduce %></p>
</div>
<%= render 'follow_form' %>
<%= render 'stats' %>

<% if @user == current_user %>
<p><%= link_to "プロフィール設定", profile_edit_path(current_user) %></p>
<% end %>

<% if @user.id == current_user.id %>
<% else %>
<% if @isRoom == true %>
<p><a href="/rooms/<%= @roomId %>">チャットへ</a>
	<% else %>
	<%= form_for @room do |f| %>
	<%= fields_for @entry do |e| %>
	<%= e.hidden_field :user_id, :value=> @user.id %>
	<% end %>
	<%= f.submit "チャットを始める" %>
	<% end %>
	<% end %>
	<% end %>


	<ul class="tabnav">
		<li><a href="#tab01">レビュー</a></li>
		<li><a href="#tab02">いいね</a></li>
		<li><a href="#tab03">チャット</a></li>
	</ul>

	<div class="tabcontent">
		<div id="tab01">
			<h3>POST</h3>
			<table class='table table-hover table-inverse'>
				<thead>
					<tr>
						<th>User</th>
						<th>Title</th>
						<th>Product</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<% @user.posts.last(8).each do |post| %>
					<tr>
						<td>
							<% if @user.profile_image_id? %>
							<%= image_tag @user.profile_image_id.url(:thumb100), class: "rounded-circle" %>
							<% else %>
							<%= image_tag 'no_image.jpg' %>
							<% end %>
							<br>
							<%= link_to post.user.name, user_path(@user.id) %>
						</td>
						<td><%= link_to post.title, post_path(post.id) %></td>
						<td><%= link_to post.product_name %></td>
						<td><%= post.created_at.strftime('%Y年%m月%d日') %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<%= link_to "すべての投稿を表示", user_posts_path(current_user) %>
		</div>

		<div id="tab02">
			<h3>LIKE</h3>
			<table class='table table-hover table-inverse'>
				<thead>
					<tr>
						<th>User</th>
						<th>Title</th>
						<th>Product</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<% @user.liked_posts.first(8).each do |post| %>
					<tr>
						<td>
							<% if @user.profile_image_id? %>
							<%= image_tag @user.profile_image_id.url(:thumb100), class: "rounded-circle" %>
							<% else %>
							<%= image_tag 'no_image.jpg' %>
							<% end %>
							<br>
							<%= link_to post.user.name, user_path(@user.id) %>
						</td>
						<td><%= link_to post.title, post_path(post.id) %></td>
						<td><%= link_to post.product_name %></td>
						<td><%= post.created_at.strftime('%Y年%m月%d日') %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<p><%= link_to "すべてのいいねを表示", user_likes_path(current_user) %></p>
		</div>

		<div id="tab03">
			<h3>CHAT</h3><hr>
			<% @user.rooms.each do |r| %>
				<% r.entries.each do |e| %>
					<% if e.user.name == current_user.name %>
						<% else %>
						<%= e.user.name %>
					<% end %>
				<% end %>
					<td><%= link_to "チャットへ", room_path(r.id) %></td><hr>
			<% end %>
		</div>
	</div>

	<script>
		jQuery(function($){
			$('.tabcontent > div').hide();

			$('.tabnav a').click(function () {
				$('.tabcontent > div').hide().filter(this.hash).fadeIn();

				$('.tabnav a').removeClass('active');
				$(this).addClass('active');

				return false;
			}).filter(':eq(0)').click();
		});
	</script>