
<% if @user.profile_image_id? %>
<%= image_tag @user.profile_image_id.url(:thumb), class: "rounded-circle" %>
<% else %>
<%= image_tag 'no_image.jpg' %>
<% end %>

<ul>
	<li><%= @user.name %></li>
	<li><%= @user.email %></li>
	<li><%= @user.phone_number %></li>
</ul>

<p><%= link_to "ユーザー設定", edit_user_path(current_user) %></p>


<h4>My投稿</h4>
<% @user.posts.first(5).each do |post| %>
<p><%= link_to post.title, post_path(post.id) %></p>
<% end %>
<p><%= link_to "すべての投稿を表示", user_posts_path(current_user) %></p>


<h4>いいね</h4>
<% @user.liked_posts.first(5).each do |post| %>
<p><%= link_to post.title, post_path(post.id) %><p>
	<% end %>

<p><%= link_to "すべてのいいねを表示", user_likes_path(current_user) %></p>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>