<h1>Myページ</h1>

<p><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", :size => '200' %></p>

	<ul>
		<li><%= @user.name %></li>
		<li><%= @user.email %></li>
		<li><%= @user.phone_number %></li>
	</ul>

	<p><%= link_to "ユーザー設定", edit_user_path(current_user) %></p>


	<h2>My投稿</h2>
<% @user.posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><%= post.title %></a>
  <hr>
<% end %>


<h3>いいねしている投稿</h3>
<% @user.liked_posts.each do |post| %>
  <%= post.user.name %>
  <%= link_to post.title, post_path(post.id) %>
<% end %>

