
<% if @user.profile_image_id? %>
<%= image_tag @user.profile_image_id.url(:thumb), class: "rounded-circle" %>
<% else %>
<%= image_tag 'no_image.jpg' %>
<% end %>

<ul>
	<li><%= @user.name %></li>
	<li><%= @user.email %></li>
	<li><%= @user.phone_number %></li>
</ul>

<%= render 'follow_form' %>
<%= render 'stats' %>

<p><%= link_to "ユーザー設定", edit_user_path(current_user) %></p>



<ul class="tabnav">
	<li><a href="#tab01">レビュー</a></li>
	<li><a href="#tab02">いいね</a></li>
</ul>

<div class="tabcontent">
	<div id="tab01">
		<h3>POST</h3>
		<table class='table table-hover table-inverse'>
			<thead>
				<tr>
					<th>タイトル</th>
					<th>ユーザー</th>
				</tr>
			</thead>
			<tbody>
				<% @user.posts.first(8).each do |post| %>
				<tr>
					<td><%= link_to post.title, post_path(post.id) %></td>
					<td></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= link_to "すべての投稿を表示", user_posts_path(current_user) %>
	</div>

	<div id="tab02">
		<h3>LIKE</h3>
		<table class='table table-hover table-inverse'>
			<thead>
				<tr>
					<th>タイトル</th>
					<th>ユーザー</th>
				</tr>
			</thead>

			<tbody>
				<% @user.liked_posts.first(8).each do |post| %>
				<tr>
					<td><%= link_to post.title, post_path(post.id) %></td>
					<td></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<p><%= link_to "すべてのいいねを表示", user_likes_path(current_user) %></p>
	</div>
</div>

<% if @user.id == current_user.id %>
<% else %>
<% if @isRoom == true %>
<p><a href="/rooms/<%= @roomId %>">チャットへ</a>
	<% else %>
	<%= form_for @room do |f| %>
	<%= fields_for @entry do |e| %>
	<%= e.hidden_field :user_id, :value=> @user.id %>
	<% end %>
	<%= f.submit "チャットを始める" %>
	<% end %>
	<% end %>
	<% end %>

<script>
	jQuery(function($){
    $('.tabcontent > div').hide();
 
    $('.tabnav a').click(function () {
        $('.tabcontent > div').hide().filter(this.hash).fadeIn();
 
        $('.tabnav a').removeClass('active');
        $(this).addClass('active');
 
        return false;
    }).filter(':eq(0)').click();
});
</script>