<h4>すべての投稿</h4>

<table class='table table-hover table-inverse'>

	<tbody>
		<% @posts.each do |post| %>
		<tr>
			<td>
			<% if @user.profile_image_id? %>
			<%= image_tag @user.profile_image_id.url(:thumb100), class: "rounded-circle" %>
			<% else %>
			<%= image_tag '/images/no_image.jpg' %>
			<% end %>
			</td>
			<td><%= link_to post.user.name, user_path(@user.id) %></td>
			<td><%= link_to post.title, post_path(post.id) %>
				(<%= post.liked_users.count %>)
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
<p><%= link_to "戻る", user_path(current_user) %></p>
<%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>