

<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>

<h4>カテゴリー</h4>
<%= f.collection_select :category_id, Category.all, :id, :category_name %>

<h4>商品名</h4>
<%= f.text_field :product_name %>

<%= f.hidden_field :rating, id: :post_rating %>
<div id='star-rating'></div>

<h4>値段</h4>
<%= f.text_field :price %>

<div class="form-inputs">
	<%= f.input :title %>
	<%= f.input :body, as: :summernote %>
</div>

<div class="field">
    <%= f.label :label_list, "タグ" %><br>
    <%= text_field_tag 'post[label_list]', @post.label_list.join(','), "data-role" => "tagsinput" %>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>

<script>
$('#star-rating').raty({
half: true,
path: '/assets/',
click: function(score, e) {
$("#post_rating").val(score)
}
});
</script>