<%= simple_form_for(@post) do |f| %>
<%= f.error_notification %>

<h4>カテゴリー</h4>
<%= f.collection_select :category_id, Category.all, :id, :category_name %>

<h4>商品名</h4>
<%= f.text_field :product_name %>

<h4>値段</h4>
<%= f.text_field :price %>

<div class="form-inputs">
	<%= f.input :title %>
	<%= f.input :body, as: :summernote %>
</div>

<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>