
<% if user_signed_in? %>
<div class="float-right">
<%= form_tag posts_path, :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :title => nil %>
</p>
<% end %>
</div>

<!--<h2>カテゴリ</h2>
<% @categories.each do |category| %>
<p><%= link_to category.category_name, category_path(category.id) %></p>
<% end %>-->

<h1>投稿一覧</h1>

<table class='table table-hover table-inverse'>
	<thead>
		<tr>
			<th>タイトル</th>
			<th>ユーザー</th>
		</tr>
	</thead>

	<tbody>
		<% @posts.each do |post| %>
		<tr>
			<td><%= link_to post.title, post_path(post.id) %>
				(<%= post.liked_users.count %>)
			</td>
			<td>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate @posts, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

<% else %>
<div id="container">
	<div id="theTarget">
		<div class="image1"></div>
		<div class="image2"></div>
		<div class="image3"></div>
	</div>
	<h3><%= link_to "MyEva アカウントを登録する", new_user_registration_path, class: "btn btn-info col-xs-10 col-xs-offset-1" %></h3>
</div>
<% end %>
