
<div class="float-right">
	<%= form_tag posts_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :title => nil %>
	</p>
	<% end %>
</div>


<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>
<%= @post.created_at.strftime('%Y年%m月%d日') %>
<p>カテゴリー:<%= @post.category.category_name %></p>
<div id='star-rating'></div>


<div class="float-right">
	<% if @post.user == current_user %>
	<td><%= link_to "編集", edit_post_path(@post.id) %></td>
	<td><%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: '削除しますか?' } %></td>
	<% end %>
</div>

<br><hr>
<td><%= link_to @post.likes.count, like_user_path(@post.id) %> 件のいいね</td>
<td><%= link_to @post.comments.count, all_comment_path(@post.id) %> 件のコメント</td>
<hr>


<p><%=raw @post.body %></p>
<ul class='pl-4'>
	<% @post.body.scan(/(<img(?:.+?)>)/).flatten.each do | image | %>
	<% end %>
</ul>
<hr>

<td>商品名</td>
<td><%= @post.product_name %></td>
<hr>
<td>価格</td>
<td><%= @post.price %>円</td>
<hr>

<td><%= render 'posts/tag_list', tag_list: @post.label_list %></td>
<%= render 'posts/related_posts', posts: @post.find_related_labels %>

<h2>コメント</h2>

<%= form_for [@post, @comment] do |f| %>
<%= f.text_field :content %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.submit '送信', class: "btn btn-info" %>
<% end %>

<% @comments.first(8).each do |c| %>
<div>
	<%= c.user.name %>
	<%= c.content %>
	<hr>
</div>
<% end %>

<p><%= link_to "すべてのコメントを表示", all_comment_path(@post.id) %></p>

<p>いいねしたユーザー</p>
<% @post.liked_users.each do |user| %>
<li><%= user.name %></li>
<% end %>

<script>
	$('#star-rating').raty({
		readOnly: true,
		path: '/assets/',
		number: 5,
		score: <%= @post.rating %>
	});
</script>