<!DOCTYPE html>
<html>
<head>
  <title>MyEva</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header>
  <nav>
   <h2>MyEva</h2>
 </nav>

 <nav>
   <ul>

    <% if user_signed_in? %>
    <li>
     <%= link_to "My Page", user_path(current_user)  %>
   </li>
   <li>
     <%= link_to "投稿一覧", posts_path %>
   </li>
   <li>
     <%= link_to "Logout", destroy_user_session_path, method: :delete %>
   </li>
   <p><%= link_to "投稿する", new_post_path %></p>
   <p><%= current_user.name %></p>

   <% else %>
   <li>
    <%= link_to " about", root_about_path %>
  </li>
   <li>
    <%= link_to " sign up", new_user_registration_path %>
  </li>
  <li>
    <%= link_to " login", new_user_session_path %>
  </li>
  <% end %>

</ul>
</nav>
</header>

<body>
  <%= yield %>
</body>

<footer>
    <p class="text-muted"><% if user_signed_in? %>
     <h5><%= link_to "退会", user_registration_path, method: :delete, "data-confirm" => "削除しますか?" %></h5>
     <% else %>
     <% end %>
   </p>
 </div>
</footer>

</html>
